body {
    margin: 5px;
    font-size: 20px;
}


.content {
    padding: 30px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    align-items: center;
}

.userAddress {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}